{   "root": true,
    "extends": "@react-native-community",
    "rules": {
        "quotes": [
          "error",
          "double",
          { "avoidEscape": true, "allowTemplateLiterals": false }
        ]
      },
      "comma-dangle": ["error", "never"]

}